* {
    padding: 0;
    margin: 0;
}

body {
   background-image: url("./img/b.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.header {
    top: 50px;
    position: relative;
    height: 150px;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(2, 8, 37, 0.6);
    align-content: flex-start;
    /*使得span之间的空格消失*/
    display: flex;
}

.header span {
    color: aliceblue;
    display: inline-flex;
    /*弹性布局*/
    align-items: center;
    /*居中*/
    justify-content: center;
    /*垂直居中*/
    margin: 0 auto;
    position: relative;
    width: 20%;
    height: inherit;
    cursor: pointer;
    font-size: 2.5rem;
}

.header span:hover {
    color: red;
    background-color: rgba(28, 238, 238, 0.163);
}

.content {
    top: 50px;
    position: relative;
    height: 550px;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(2, 8, 37, 0.3);
}

.content1,
.content2,
.content3,
.content4,
.content5 {
    width: 100%;
    height: 100%;
    position: absolute;
    /*设置为绝对定位，根据父元素的，所有的content放在同一个区域*/
    align-content: flex-start;
    /*使得span之间的空格消失*/
    display: flex;
}

.content1 div {
    /*将content1水平分为3个*/
    display: flex;
    /*弹性布局*/
    align-items: center;
    /*居中*/
    justify-content: flex-start;
    /*垂直居中*/
    flex-direction: column;
    /* margin: 0 auto; */
    width: 33%;
    height: inherit;
    color: rgba(12, 11, 11, 1);
    font-weight:500;
    margin-left: 20px;
}
.content1 div:hover{
    color: white;
}
.content1 div {
    width: 100%;
    font-size:25px;
}

.content1 div div {
    display: flex;
    flex-direction: row;
    /*设置水平排列*/
}
.content1 div div h3{
    font-size: 40px;
    text-align: center;
   padding-left:80px ;
  
}

.content1 div div .ic{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    font-size: 28px;
    
}
.content1 div div .hy{
    font-weight: bold;
    
}
.content1 div div .ic:hover{
color:white;
}

.shenghuozhao {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-top: 90px;
    margin-bottom: 40px;
}
.sheng h3{
    margin-top: 25px ;
    font-size: 40px;
    text-align: center;
    padding-left: 80px
   
}
.content2 {
    display: flex;
    flex-direction: column;
    /*设置容器内的flex垂直排列*/
}

.content2 .content2-items {
    width: 100%;
    height: 50%;
    margin: 0 auto auto 0;
    left: 15px;
    position: relative;
}

.content2 .content2-items span {
    font-size: large;
    color: rgb(207, 206, 206);
    font-weight: bold;
}

.content2 .content2-items .content2-items-work-content {
    font-size: small;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
}

.content .content3 {
    flex-direction: column;
    display: flex;
}

.content3 .skill-items {
    height: 15%;
    position: relative;
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    font-size:30px;
    color: rgba(241, 241, 241, 1);

}

.skill-items div {
    background-color: rgba(219, 255, 255, 0.163);
    width: 80%;
    position: absolute;
    left: 24%;
    display: inline-block;
}

.qianduan div span {
    background-color: rgb(7, 110, 110);
    width: 85%;
    transition: width 1s;
    position: absolute;
    animation: donghua-qianduan;
    animation-duration: 3s;
}

@keyframes donghua-qianduan {
    from {
        width: 0;
    }

    to {
        width: 85%;
    }
}

.qianduan .color::after {
    content: "85%";
    float: right;
}

.cplusplus div span {
    background-color: rgb(236, 185, 90);
    width: 84%;
    position: absolute;
    animation: donghua-cplusplus;
    animation-duration: 3s;
}

@keyframes donghua-cplusplus {
    from {
        width: 0;
    }

    to {
        width: 84%;
    }
}

.cplusplus .color::after {
    content: "84%";
    float: right;
}

.python div span {
    background-color: rgb(3, 78, 125);
    width: 83%;
    position: absolute;
    animation: donghua-python;
    animation-duration: 3s;
}

@keyframes donghua-python {
    from {
        width: 0;
    }

    to {
        width: 83%;
    }
}

.python .color::after {
    content: "83%";
    float: right;
}

.JAVA div span {
    background-color: rgb(224, 221, 120);
    width: 80%;
    position: absolute;
    animation: donghua-JAVA;
    animation-duration: 3s;
}

@keyframes donghua-JAVA {
    from {
        width: 0;
    }

    to {
        width: 80%;
    }
}

.JAVA .color::after {
    content: "80%";
    float: right;
}

.AI div span {
    background-color: rgba(17, 73, 193, 0.53);
    width: 74%;
    position: absolute;
    animation: donghua-AI;
    animation-duration: 3s;
}

@keyframes donghua-AI {
    from {
        width: 0;
    }

    to {
        width: 74%;
    }
}

.AI .color::after {
    content: "74%";
    float: right;
}
.BT div span {
    background-color: rgba(3, 5, 4, 0.53);
    width: 76%;
    position: absolute;
    animation: donghua-BT;
    animation-duration: 3s;
}

@keyframes donghua-BT {
    from {
        width: 0;
    }

    to {
        width: 76%;
    }
}

.BT .color::after {
    content: "76%";
    float: right;
}

.wl div span {
    background-color: rgba(10, 119, 28, 0.53);
    width: 77%;
    position: absolute;
    animation: donghua-wl;
    animation-duration: 3s;
}

@keyframes donghua-wl {
    from {
        width: 0;
    }

    to {
        width: 77%;
    }
}

.wl .color::after {
    content: "77%";
    float: right;
}

.wk div span {
    background-color: rgba(10, 119, 28, 0.53);
    width: 73%;
    position: absolute;
    animation: donghua-wk;
    animation-duration: 3s;
}

@keyframes donghua-wk {
    from {
        width: 0;
    }

    to {
        width: 73%;
    }
}

.wk .color::after {
    content: "73%";
    float: right;
}

.app div span {
    background-color: rgba(204, 240, 46, 0.53);
    width: 75%;
    position: absolute;
    animation: donghua-app;
    animation-duration: 3s;
}

@keyframes donghua-app {
    from {
        width: 0;
    }

    to {
        width: 75%;
    }
}

.app .color::after {
    content: "75%";
    float: right;
}
.content4 {
    flex-direction: column;
    justify-content: space-around;
}
.content4 .major {
   
    width: 100%;
   
}

.content4 span {
    font-size: 30px;
    font-weight: 400;
    color: rgba(240, 248, 255, .9);
    margin-left: 10%;
}



.content4 p {
    text-indent: 2em;
    margin-left: 8%;
    margin-top: 15px;
    color: rgb(4, 55, 94);
    font-size: 25px;
}

.content p:hover {
    color: red;
}

.content5 {
    flex-direction: column;
    justify-content: space-around;
}

.content5 span {
    font-size: 30px;
    font-weight: 400;
    color: rgba(240, 248, 255, 0.9);
    margin-left: 10%;
   padding-bottom: 10px;

}

.content5 p {
    margin-left: 8%;
    margin-top: 18px;
    color: rgb(4, 55, 94);
    font-size: 25px;
}



.content .content2 {
    display: none;
}

.content .content3 {
    display: none;
}

.content .content4 {
    display: none;
}

.content .content5 {
    display: none;
}

/* #one:hover .content1{   hover不能改变除子元素外的元素
    display: flex;
} */
